.country {
    border: 1px solid white;
    margin: 10px auto;
    padding: 10px;
    /* display: grid; */

    gap: 10px;

}

.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;

}

.flag {
    height: 200px;
    width: 300px;
}

.coatOfArms {
    height: 80px;
    width: 80px;
}

/* 
* {
    border: 2px solid red;
} */